<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form method="POST" action="/team">
     <input type="text" name="teamname" placeholder="Team Name">
     <label for="teamname">Team Name:</label>
     
     <input type="text" name="coach" placeholder="Coach">
     <label for="coach">Coach:</label>
     
     <input type="text" name="pointguard" placeholder="Point Guard">
     <label for="pointguard">Point Guard:</label>
     
     <input type="text" name="shootguard" placeholder="Shooting Guard">
     <label for="shootguard">Shooting Guard:</label>
     
     <input type="text" name="smforward" placeholder="Small Forward">
     <label for="smforward">Small Forward:</label>
     
     <input type="text" name="pwrforward" placeholder="Power Forward">
     <label for="pwrforward">Power Forward:</label>
     
     <input type="text" name="center" placeholder="center">
     <label for="center">Center:</label>
   </form>
 </body>
</html>


